<div class="col-12 row">

   <div class="col-lg-7 row font-weight-bold text-center">
      <h5 class="col ">
         étudiants<br>
         <span class="text-info font-weight-bold">
            11236
         </span>
      </h5>

      <h5 class="col ">
         Publications<br>
         <span class="text-info font-weight-bold">
            112
         </span>
      </h5>

      <h5 class="col ">
            Abonnements<br>
            <span class="text-info font-weight-bold">
               11212526
            </span>
         </h5>


   </div>


   <div class="col-lg-5">
      <button mat-flat-button color="primary" [routerLink]="['/schools', school.id, 'settings']">
         <i class="mdi mdi-settings mdi-18px"></i> &nbsp;
         Paramètres
      </button>
   </div>
</div>