<div mat-dialog-content>
    {{message}}

    <form [formGroup]="form">
        <div class="form-group col mt-3 px-0">
            <mat-form-field class="w-100">
                <input matInput type="password" placeholder="Votre mot de passe" formControlName="password">
            </mat-form-field>
            <app-control-error [control]="form.controls['password']"></app-control-error>
        </div>
    </form>
</div>
<div class="text-right col-12 px-0 mt-3">
    <button mat-flat-button (click)="cancel()">Annuler</button>
    <button mat-flat-button color="primary" class="ml-2" (click)="check()" cdkFocusInitial>Confirmer</button>
</div>