<form [formGroup]="form">
  <div class="col-12 px-0 form-header mb-4 mt-2">
    <h4 class="border-bottom pb-3">Créer un établissement</h4>
  </div>

  <div class="form-group col-12 px-0 ">
    <mat-form-field class="w-100">
      <input matInput placeholder="Nom de l'établissement" formControlName="name">
    </mat-form-field>
    <app-control-error [control]="form.controls['name']"></app-control-error>
  </div>
  <div class="form-group col-12 px-0 ">
    <mat-form-field class="w-100">
      <input matInput placeholder="Sigle du nom de l'établissement" formControlName="acronym">
    </mat-form-field>
    <span class="text-small">
      Le sigle est une abbréviation du nom de l'établissement.<br>
      Il doit avoir entre 2 et 7 caractères.
      Il doit contenir que des lettres, des chiffres,<br> des espaces et des tirets('-').<br>
    </span>
    <app-control-error [control]="form.controls['acronym']"></app-control-error>

  </div>
  <div class="form-group col px-0">

    <mat-checkbox formControlName="isPublic" class="w-100"> établissement publique </mat-checkbox><br>

    <div class="text-small col-12 px-0">
      Choississez cette option si l'établissement à ajouter<br>
      est un établissement publique. 
    </div>
  </div>

  <div class="col-12 mt-4 px-0  text-right">
    <button mat-button (click)="dialogRef.close()">Annuler</button>
    <button mat-flat-button color="primary" class="ml-2" [disabled]="form.invalid" (click)="addSchool()">
      <i class="mdi mdi-plus"></i>
      S'inscrire
    </button>
  </div>
</form>