$theme-colors: (
  "warning": #ff6d37,
  "primary": #06133B,
  "info": #1da1f2,
  "danger": #e81b58,
  "success": #00CB70,
  "dark": #282D31
);

$font-family-sans-serif: "Roboto";
$btn-font-family:  "Open Sans", sans-serif;
$headings-font-family: "Open Sans", sans-serif;
$link-color: #008ee6;



$small-font-size: 12px;

